<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
               http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<servlet>
    <servlet-name>servlet11</servlet-name>
    <servlet-class>servlet1.servlet11</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>servlet11</servlet-name>
    <url-pattern>/servlet1.servlet11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet22</servlet-name>
    <servlet-class>servlet2.servlet22</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>servlet22</servlet-name>
    <url-pattern>/servlet2.servlet22</url-pattern>
  </servlet-mapping>
</web-app>